dictype html
html(lang="ru-RU")
    head
        title Hello Pug
        link(rel="stylesheet", href="static/css/main.style.css")
    body
        p First page with gulp-pug
        p First page with gulp-pug #2
        .one
        .two Some text in block with class two