dictype html
html(lang="ru-RU")
    head
        title Hello Pug
        link(rel="stylesheet", href="static/css/main.style.css")
    body
        h1 First level header
        p First page with gulp-pug
        p First page with gulp-pug #2
        .one
        .two Some text in block with class two

        .slider
            .slider-item
                img(src='static/img/hannah-morgan-91151.jpg')
            .slider-item
                img(src='static/img/vashishtha-jogi-101218.jpg')
            .slider-item
                img(src='static/img/izzy-gerosa-180911.jpg')

        script(src='static/js/libs.min.js')
        script(src='static/js/main.js')